In [1]:
import pandas as pd
import numpy as np

In [67]:
def to_excel(path, sheet_name, index):
    def decorator(fn):
        def wrapper(*args, **kwargs):
            df = fn(*args, **kwargs)
            writer = pd.ExcelWriter(path)
            df.to_excel(writer, sheet_name=sheet_name, index=index)
            writer.save()
            return df
        return wrapper
    return decorator


@to_excel('dataframe.xlsx', 'sheet', True)
def create_df(cols, rows):
    arr = np.multiply(np.random.rand(rows, cols), 100).round().astype('int')
    col_names = [f'col_{num}' for num in range(1, cols + 1)]
    df = pd.DataFrame(arr, columns=col_names)
    return df 

create_df(5, 10)

   col_1  col_2  col_3  col_4  col_5
0     52     42     66     95      0
1     74     19     29     76     51
2     94     92     37     58     92
3     68     74     17     77     23
4     18     46     23     56     17
5     59     23     43     64     39
6      4     21     24     46     22
7     36     20     72     74      9
8     15      7     92     73     94
9     42     56     85     20     75

### Hardcoded

In [52]:
from functools import wraps

def write_to_excel(fn):
   
    wraps(fn) # we use wraps to decorate the inner function to retain the metadate of fn
    def inner(*args, **kwargs):
        df = fn(*args, **kwargs)
        writer = pd.ExcelWriter('dataframe.xlsx')
        df.to_excel(writer, sheet_name='data', index=False)
        writer.save()
        
        return df
    
    return inner

@write_to_excel
def create_df(cols, rows):
    arr = np.multiply(np.random.rand(rows, cols), 100).round().astype('int')
    col_names = [f'col_{num}' for num in range(1, cols + 1)]
    df = pd.DataFrame(arr, columns=col_names)
    return df 

create_df(5, 10)

   col_1  col_2  col_3  col_4  col_5
0     88     64     43     65     82
1     29     38     83     30     14
2     51      8      4     10     20
3      2     59     46     94     21
4     55     22     53     88     58
5     47     75     50     78     58
6     87     34     47     66      7
7     53     17     93     61     62
8     72     40     73     24     60
9     66     43     26     23     63

### Class-based decorator

In [2]:
class ToExcel:
    def __init__(self, path, sheet_name, index):
        self.path = path
        self.sheet_name = sheet_name
        self.index = index
    
    def __call__(self, fn):
        def wrapper(*args, **kwargs):
            df = fn(*args, **kwargs)
            writer = pd.ExcelWriter(self.path)
            df.to_excel(writer, sheet_name=self.sheet_name, index=self.index)
            writer.save()
            return df
        return wrapper

@ToExcel('dataframe.xlsx', 'sheet', True)
def create_df(cols, rows):
    arr = np.multiply(np.random.rand(rows, cols), 100).round().astype('int')
    col_names = [f'col_{num}' for num in range(1, cols + 1)]
    df = pd.DataFrame(arr, columns=col_names)
    return df 

create_df(5, 10)

   col_1  col_2  col_3  col_4  col_5
0      2     80     16     16     53
1     38     72     57     98     11
2     31      9     76     56      3
3     28     79     63     41     12
4     81     95     92     80     54
5     78     88     90     16     67
6      4      2     20      7     94
7     51     86     22     83     77
8      9     41     43     90     72
9     96     57     18      5      8

### class-based decorator (Hardcoded)

In [6]:
class ToExcelHardcoded:
    def __init__(self, fn):
        self.fn = fn
    
    def __call__(self, *args, **kwargs):
        df = self.fn(*args, **kwargs)
        writer = pd.ExcelWriter('hardcoded_df_path.xlsx')
        df.to_excel(writer, sheet_name='hardcoded_sheet_name', index=False)
        writer.save()
        return df

@ToExcelHardcoded
def create_df(cols, rows):
    arr = np.multiply(np.random.rand(rows, cols), 100).round().astype('int')
    col_names = [f'col_{num}' for num in range(1, cols + 1)]
    df = pd.DataFrame(arr, columns=col_names)
    return df 

create_df(5, 10)

   col_1  col_2  col_3  col_4  col_5
0     81      5     78     87     92
1     88     11     82     24     77
2     95     24     22     60     77
3      5     42     87     92     80
4     59     21     23     86     40
5     31     45     46     85     87
6     54     19     41     11     35
7     94     91     57     28     74
8     70     39     40      7     96
9     47     20     21     30      8